<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
             </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('dashboard') }}" method="POST">
        <label for="coin_name">Coin name:</label><br>
        <input type="text"  name="coin_name" required><br>
        <label for="amount">Amount</label><br>
        <input type="text" name="amount"><br>
        <input type="submit" value ="Buy"></button>
    </form>
    
</body>
</html>