<h1>Welcome , {{user}}</h1>
<!-- <h1><a href="{{ url_for('change') }}" title="Forget Password">Forgot Password</a></h1> -->
<!-- <a href ="{{ url_for('login') }}" title="Sign in Page">Go to login page | Sign in</a> -->
<a href="{{ url_for('dashboard') }}" title="Buy Coin">Buy Coin </a>
<br>
<a href="{{ url_for('deposit') }}" title="Dposit">Deposit Money </a>
<br>
<a href="{{ url_for('sell') }}" title="Sell">Sell Coin </a>
<br>
<a href="{{ url_for('my_buying') }}" title="Buying">Crypto Account </a>
<br>
<a href="{{ url_for('trx_details') }}" title="Trax">Crypto Transcation Details </a>
<br>
<a href="{{ url_for('logout') }}" title="Logout">Logout </a>






